Source: ##PACKAGE_BASE##
Section: ##SECTION##
Priority: ##PRIORITY##
Maintainer: ##MAINTAINER##
Build-Depends: ##DEPENDS##
Standards-Version: 3.9.6
Homepage: ##URL##

Package: ##PACKAGE##
Architecture: ##DEB_ARCH##
Description: ##DESCRIPTION##
Depends: ##RDEPENDS##
