#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1
makedir := $(shell dirname $(realpath $(lastword $(MAKEFILE_LIST))))
srcdir  := $(makedir)/..

package := $(shell dh_listpackages)

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

CROSS_COMPILE ?=
ARCH          ?= $(CCARCH)
CC            ?= $(CROSS_COMPILE)gcc

# Required targets for dpkg-buildpackage
build:
	@echo "Running build target."
	$(CC) -o spi_test -lrt -lpthread spi_latency.c
	$(CC) -o simple_spi_test simple_spi.c

clean:
	@echo "Running clean target."
	rm -rf spi_test
	rm -rf simple_spi_test

build-arch:
	@echo "Running build-arch target."

build-indep:
	@echo "Running build-indep target."

install: build
	@echo "Running install target."
	dh_testdir
	dh_testroot
	dh_clean  -k

	install -d debian/$(package)/usr/sbin
	install -m 0755 simple_spi_test debian/$(package)/usr/sbin
	install -m 0755 spi_test        debian/$(package)/usr/sbin

binary-arch: build install
	@echo "Running binary-arch target."
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


binary-indep: build install
	@echo "Running binary-indep target."

binary: binary-arch binary-indep
	@echo "Running binary target."

.PHONY: build clean binary-indep binary-arch binary install


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

